body {
    text-align: center;
    margin: 0;
    padding-top: 800px;
    font-style: italic;
}

.profile {
    width: 180px;
    margin-bottom: 50px;
    border-radius: 50px;
}

#welcome {
    position: absolute;
    height: 800px;
    color: black;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(#fa0511, #eff707);
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

.link {
    display: inline;
    color: fuchsia;
    padding-left: 33px;
    padding-right: 25px;
    font-family: monospace;
    font-size: 22px;
}

.menu {
    list-style: none;
    position:fixed;
    background:white;
    margin-top: 0px;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
    width: 100%;
}

.link:hover {
    
    background-color: blue;
    font-size: 30px;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.article:hover {
    color: crimson;
}

html {
    scroll-behavior: smooth;
}
#writings a{
    text-shadow:none !important;
    text-decoration: underline !important;
}
#contact{
    background: firebrick;
}
#contact iframe{
    width: 100%;
}
.contact_1 h3{
    display: inline;
}
.contact_1 a{
    color: darkorange;
}


