body{
  text-align:center;
  font-style:italic;
   background-image: linear-gradient(#f26fcd,#f20505);
}
img{
  border-radius: 50px;
    bottom: 79px;
}
#malala{
    transition: transform.2s;

}
#malala:hover{
    transform: scale(0.9);
}
.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
.link{
    float: center;
    color: aqua;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 9px;
    padding-right: 9px;
    font-family: monospace;
    font-size: 22px;
}
.menu{
    list-style: none;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
}
.link:hover{
    background-color: blue;
}
#welcome{
    position: absolute;
    height: 800px;
    color: black;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(#fa0511,#eff707);
}
#about{
    width: 100%;
    height: 800px;
    background-image: linear-gradient(#f7057a,#b45ee6);
}
#favourite{
   width: 100%;
    height: 800px;
    background-image: linear-gradient(#71ebeb,#b45ee6); 
}
#work{
   width: 100%;
    height: 800px;
    background-image: linear-gradient(#f0504a,#f244e7); 
}
#inspiration{
    width: 100%;
    height: 800px;
    background-image: linear-gradient(#f7057a); 
}
#my{
    transition: transform.2s;
}
#my:hover{
    transform: scale(0.9);
}
#in{
  transition: transform.2s;  
}
#in:hover{
    transform: scale(0.9);
}